<!-- input for fixed test booktext01 -->
<div class="page-size-voorleesboek-ingrid">
  <div class="content-voorleesboek-ingrid content-voorleesboek-ingrid-p1">
    <div class="tekstbox-voorleesboek-ingrid-p1">
      Boekje voor<span class="answerq1"><%= @questions[0].question %> </span>
    </div>
  </div>
</div>

<input type="hidden" id="tekst1" data-txt="Boekje voor ">
<input type="hidden" id="tekst2" data-txt=" is er zo &#x00E9&#x00E9n.">
<input type="hidden" id="tekst3" data-txt="Je hebt van die dagen die je nooit meer vergeet.">
<input type="hidden" id="tekst4" data-txt="Boekje voor">
<input type="hidden" id="tekst5" data-txt="Boekje voor">
<input type="hidden" id="tekst6" data-txt="Boekje voor">
<input type="hidden" id="tekst7" data-txt="Boekje voor">
<input type="hidden" id="tekst8" data-txt="Boekje voor">
<input type="hidden" id="tekst9" data-txt="Boekje voor">
<input type="hidden" id="tekst10" data-txt="Boekje voor">
<input type="hidden" id="tekst11" data-txt="Boekje voor">
