<div class="page-size-voorleesboek-ingrid">
  <div class="content-voorleesboek-ingrid content-voorleesboek-ingrid-p1">
    <div class="tekstbox-voorleesboek-ingrid-p1">
      Boekje voor<span class="answerq1"><%= @questions[0].question %> </span>
    </div>
  </div>
</div>
