<div class="page-size-voorleesboek-ingrid">
  <div class="content-voorleesboek-ingrid">
    <div class="tekstbox-voorleesboek-ingrid">
      Je hebt van die dagen die je nooit meer vergeet.
    </div>
    <%= image_tag "Afbeelding-2.jpg", class: "img-voorleesboek-ingrid" %>
    <div class="tekstbox-voorleesboek-ingrid">
      <span class="answerq2"><%= @questions[1].question %></span> is er zo &#x00E9&#x00E9n.
    </div>
  </div>
</div>
