<!-- input for fixed test booktext01 -->
<div class="spread">
  <div class="page-size-voorleesboek-ingrid">
    <div class="content-voorleesboek-ingrid content-voorleesboek-ingrid-p1">
      <div class="tekstbox-voorleesboek-ingrid-p1">
        Boekje voor:<br><span class="answerq1 front-page"><%= @questions[0].question %> </span>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="tekst1" data-txt="Boekje voor ">
<!-- <input type="hidden" id="tekst1" data-txt="<%#= @booktemplatetexts.text1 %>"> -->
<input type="hidden" id="tekst2" data-txt="Je hebt van die dagen die je nooit meer vergeet.">
<input type="hidden" id="tekst3" data-txt=" is er zo &#x00E9&#x00E9n.">
<input type="hidden" id="tekst4" data-txt="Papa en mama zaten thuis rustig een kopje koffie te drinken.">
<input type="hidden" id="tekst5" data-txt="Afbeelding-3a.jpg">
<input type="hidden" id="tekst6" data-txt="Zou ">
<input type="hidden" id="tekst7" data-txt=" vandaag misschien komen?">
<input type="hidden" id="tekst8" data-txt="Papa en Mama zijn naar het ziekenhuis gegaan omdat ">
<input type="hidden" id="tekst9" data-txt=" uit mama's buik wil.">
<input type="hidden" id="tekst10" data-txt="Afbeelding-3b.jpg">
<input type="hidden" id="tekst11" data-txt="En ja hoor, daar is ">
<input type="hidden" id="tekst12" data-txt="img4-b.jpg">
<input type="hidden" id="tekst13" data-txt="Wat een prachtig ventje!">
<input type="hidden" id="tekst14" data-txt="img4-g.jpg">
<input type="hidden" id="tekst15" data-txt="Wat een mooi meisje!">


<input type="hidden" id="img01" data-txt=".jpg">
<!-- <input type="hidden" id="img01" data-txt="<%#= @bootexttemplateimages[0].image.filename %>"> -->
<input type="hidden" id="img02" data-txt=".jpg">
<input type="hidden" id="img03" data-txt=".jpg">
<input type="hidden" id="img04" data-txt=".jpg">
<input type="hidden" id="img05" data-txt=".jpg">
<input type="hidden" id="img06" data-txt=".jpg">
