<div class="page-size-kalender-ingrid">
  <div class="content-kalender-ingrid content-kalender-ingrid-p1">
    <div class="tekstbox-kalender-ingrid">
      Kalender van <span class="answerq1"><%= @questions[0].question %> </span>
    </div>
  </div>
</div>
<input type="hidden" id="tekst1" data-txt="Kalender van ">
