
<span id="answerq4">

<div class="page-size-voorleesboek-ingrid">
  <div class="content-voorleesboek-ingrid">
      <div class="tekstbox-voorleesboek-ingrid">
        Papa en mama zaten thuis rustig een kopje koffie te drinken.
      </div>
      <img src="/assets/Afbeelding 3a.jpg" class="img-voorleesboek-ingrid">
      <div class="tekstbox-voorleesboek-ingrid">
        Zou <span class="answerq1"><%= @questions[0].question %> </span> vandaag misschien komen?
      </div>
  </div>
</div>


</span>


