<span id="answerq3">
<div class="page-size-voorleesboek-ingrid">
  <div class="content-voorleesboek-ingrid">
    <div class="tekstbox-voorleesboek-ingrid">
      En ja hoor, daar is <span class="answerq1"><%= @questions[0].question %> </span>.
    </div>


  <img src="/assets/img4-b.jpg" class="img-voorleesboek-ingrid">
  <div class="tekstbox-voorleesboek-ingrid">
    Wat een prachtig ventje!
  </div>
  </div>
</div>

</span>

