// Specific CSS for your home-page
.image {
  max-width: 80vh;
}

.banner {
  color:white;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  background-image: image-url("banner-geel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .navbar-h {
    height: 45px;
    margin-top: -110px;
  }

  .navbar2-h {
    height: 65px;
    margin-top: -65px;
  }

  .banner-h {
    padding: 40px;
    height: 38vh;
  }
  .resp1 {
    font-size: 5vw;
    font-weight: bold;
  }
  .resp2 {
    font-size: 2vw;
    font-weight: bold;
  text-decoration: none !important;
  color: white;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .navbar-h {
    height: 45px;
    margin-top: -90px;
  }

  .navbar2-h {
    height: 45px;
    margin-top: -45px;
  }

  .banner-h {
    padding: 15px;
    height: 20vh;
  }
  .resp1 {
    font-size: 8vw;
    font-weight: bold;
  }
  .resp2 {
    font-size: 4vw;
    font-weight: bold;

  }
}

.home1 {
  display: flex;
  justify-content: space-evenly;
}

.home-page-blok {
  width: 18vw;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  // padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.home-blok-h1 {

  height:174px;
  background-size: 100% auto;
}

.home-blok-h2 {
  height:200px;
  background-size: auto 100%;
}

.col-xs-4.home-mobile-col {
  padding: 5px !important;
}

.home-tekst-blok {
  height: 35px;
  width:140px;
  font-variant: small-caps;
  font-size: 20px;
  background-color: #FBD000;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
}

.home-tekst-blok-mobile {
  height: 35px;
  font-variant: small-caps;
  font-size: 20px;
  background-color: #FBD000;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
}

.home-tekst-blok-product {
  height: 60px;
  width:60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  background-color: black;
  opacity: 0.5;
  color:white;
  margin-top: -110px;
  margin-right: -80px;
}

.link-to {
  text-decoration: none !important;
}


