<div class="page-size-voorleesboek-ingrid">
  <div class="content-voorleesboek-ingrid">
    <div class="tekstbox-voorleesboek-ingrid">
      <span id="text5">
        Je hebt van die dagen die je nooit meer vergeet.
      </span>
    </div>
    <%= image_tag "Afbeelding-2.jpg", class: "img-voorleesboek-ingrid" %>
    <div class="tekstbox-voorleesboek-ingrid">
      <span id="text6">
        <%= @booktexts[0].text2 %> is er zo &#x00E9&#x00E9n.
      </span>
    </div>
  </div>
</div>
