<div class="page-size-kalender-ingrid">
  <div class="content-kalender-ingrid content-kalender-ingrid-p1">
    <div class="tekstbox-kalender-ingrid" id="text1">
      Kalender van <span class="answerq1"><%= @booktexts[0].text1 %> </span>

    </div>
  </div>
</div>
