.container-blok {
  margin: 0px;
  padding: 10px 30px 10px 30px;
  position: relative;
}
.inner-blok {
  padding: 10px;
  height: 220px;
}

.banner-mobile {
  height: 60px;
  margin: 20px;
  text-align: center;
  color: grey;
  font-style: bold;
}
.mobile-blok {
  height: 80px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% auto;
 }

 .mobile-blok-square {
  height: 160px;
  width: 160px;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: auto 100%;
 }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-fluid {
  width: 95vw;
}

.row-fluid {
  width: 100%;
}

.flow {
      z-index:5;
}

.imgs {
  height: 40px;
}


