

.container-blok {
  margin: 0px;
  padding: 10px;
  position: relative;
}
.inner-blok {
  padding: 10px;
  height: 220px;
}

.banner-mobile {
  height: 80px;
  margin: 20px;
  text-align: center;
  color: grey;
  font-style: bold;
}
.mobile-blok {
  height: 100px;
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-fluid {
  width: 95vw;
}

.row-fluid {
  width: 100%;
}
