.blok {
  width: 360px;
  height: 280px;
  margin: 15px;
  padding: 10px;
  position: relative;
  border: solid;
  border-top-color: white;
  border-right-color: white;
  border-left-color: #c1c1c1;
  border-bottom-color: #c1c1c1;
  border-radius: 20px;
  border-width: 2px;
}

.banner {
  height: 200px;
  margin: 15px;
  padding: 20px;
  position: relative;
  border: solid;
  border-top-color: white;
  border-right-color: white;
  border-left-color: #c1c1c1;
  border-bottom-color: #c1c1c1;
  border-radius: 20px;
  border-width: 2px;

}


