<div class="container-fluid booktemplate-page">
  <div class="row-fuid">
    <div class="col-md-6">
      <div class="home1">
      <h1>new order</h1>
      <%= current_user.id  %> / <%= params[:book_id]  %> / <%= @book.buyer_id  %> / <%= @booktext[0].text1  %>
      Betalings informatie
      </div>
    </div>
    <div class="col-md-6">
      <div class="stepscontrol-balk stepscontrol-balk-s">
        <div class="control-button control-button-s pijl">&#x003C</div>
        <div class="control-button control-button-s terug">1</div>
        <div class="control-button control-button-s terug">2</div>
        <div class="control-button control-button-s nu">3</div>
        <div class="control-button control-button-s vooruit">4</div>
        <div class="control-button control-button-s vooruit">5</div>
        <div class="control-button control-button-s pijl">&#x003E</div>
      </div>
    </div>
  </div>
</div>



