<h1>This is how it works!</h1>
<br>
<% answerq3 = "b" %>
<div class="tekst-ingrid">En ja hoor, daar is [answer q1].</div>
<div class="tekst-ingrid">Wat een
<% if answerq3 == "g" %>
mooi meisje.
<br>
<%= image_tag "img4-g.jpg", height: 300 %>
<% end %>
<%  if answerq3 == "b"  %>
prachtig ventje.
<br>
<%= image_tag "img4-b.jpg", height: 300 %>
<% end %>
</div>
