    <div class="banner">
      Landing Page Title
      <p>More info on how this works.</p>
    </div>

<div class="container-fluid">
  <div class="row">
    <div class="blok col-sm-1">
      Gezinsuitbreiding
    </div>
    <div class="blok col-sm-1">
      Verjaardag
    </div>
    <div class="blok col-sm-1">
      Huwelijk
    </div>
    <div class="blok col-sm-1">
      Feestdagen
    </div>
    <div class="blok col-sm-1">
      Overig
    </div>
  </div>
</div>
