<div class="s1440 border test-text">
  1440
</div>
<div class="s1200 border test-text">
  1200
</div>
<div class="s900 border test-text">
  900
</div>
<div class="s500 border test-text">
  500
</div>
<div class="s375 border test-text">
  375
</div>
<div class="s300 border test-text">
  300
</div>
<br>
<br>
<br>
<div class="container-fluid booktemplate-page">
  <div class="row-fuid">
    <button id="testbutton2" class="testbutton">
      test
    </button>
  </div>
</div><br>
<br>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-6">
            <div class="flex1 inner-testbox">
              <img src="http://placehold.it/330x225" alt="..." class="border">
              <div class="carousel-caption">
                <h3>Caption Text</h3>
              </div>
              <img src="http://placehold.it/330x225" alt="..." class="border">
              <div class="carousel-caption">
                <h3>Caption Text</h3>
              </div>
            </div>
            <div class="test-txt">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda exercitationem culpa facilis doloribus modi reprehenderit aperiam porro recusandae distinctio dolor eligendi, qui, vitae maxime dolore error ab deserunt praesentium neque.
            </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div class="container-fluid booktemplate-page">
  <div class="row-fuid">
    <button id="testbutton" class="testbutton">
      test
    </button>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-6">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="flex1 inner-testbox">
              <img src="http://placehold.it/330x225" alt="..." class="border">
              <div class="carousel-caption">
                <h3>Caption Text</h3>
              </div>
              <img src="http://placehold.it/330x225" alt="..." class="border">
              <div class="carousel-caption">
                <h3>Caption Text</h3>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="flex1 inner-testbox">
              <img src="http://placehold.it/330x225" alt="..." class="border">
              <div class="carousel-caption">
                <h3>Caption Text</h3>
              </div>
              <img src="http://placehold.it/330x225" alt="..." class="border">
              <div class="carousel-caption">
                <h3>Caption Text</h3>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="http://placehold.it/330x225" alt="...">
            <div class="carousel-caption">
              <h3>Caption Text</h3>
            </div>
            <img src="http://placehold.it/330x225" alt="...">
            <div class="carousel-caption">
              <h3>Caption Text</h3>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div> <!-- Carousel -->

    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

