<div id="p3" class="page-size-voorleesboek-ingrid hidden-xs">
  <div class="content-voorleesboek-ingrid">
    <div class="tekstbox-voorleesboek-ingrid">
      <%= @booktexts[0].text10.html_safe %>
    </div>
  </div>
</div>
<div id="p4" class="page-size-voorleesboek-ingrid">
  <div class="content-voorleesboek-ingrid">
    <div class="tekstbox-voorleesboek-ingrid">
      <span id="text2">
        <%= @booktexts[0].text2.html_safe %>
      </span>
    </div>
    <%= image_tag "Afbeelding-2.jpg", class: "img-voorleesboek-ingrid" %>
    <div class="tekstbox-voorleesboek-ingrid">
      <span id="text3">
        <%= @booktexts[0].text3.html_safe %>
        <span id="button1" ></span>
      </span>
    </div>
  </div>
</div>
