<div id="p1" class="page-size-voorleesboek-ingrid selected front">
  <div class="content-voorleesboek-ingrid content-voorleesboek-ingrid-p1">
    <div class="tekstbox-voorleesboek-ingrid-p1" id="tekst1">
      <%= @booktexts[0].text1 %>
    </div>
  </div>
</div>
<div id="p2" class="page-size-voorleesboek-ingrid hidden-xs">
  <div class="content-voorleesboek-ingrid">
    <div class="tekstbox-voorleesboek-ingrid-p1">
      binnenpagina
    </div>
  </div>
</div>
