<div class="page-size-voorleesboek-ingrid">
  <div class="content-voorleesboek-ingrid">
    <div class="tekstbox-voorleesboek-ingrid" id="tekst7">
      <%= @booktexts[0].text7 %>
    </div>
      <span id="tekst8">
        <img src="/assets/<%= @booktexts[0].text8 %>" class="img-voorleesboek-ingrid">
      </span>
      <div class="tekstbox-voorleesboek-ingrid">
      <span id="tekst9">
        <%= @booktexts[0].text9 %>
      </span>
      </div>
  </div>
</div>
