<div class="page-size-kalender-ingrid">
  <div class="content-kalender-ingrid content-kalender-ingrid-p1">
    <div class="tekstbox-kalender-ingrid" id="bloktext1">
      <span id="text1"><%= @booktexts[0].text1 %></span>
      <button id="button1" class="control-button edit-text"></button>
    </div>
  </div>
</div>
