<div class="flex-ingrid">
  <div class="pseudo-page-ingrid">

  </div>
  <div id="p3" class="page-size-voorleesboek-ingrid">
    <div class="content-voorleesboek-ingrid">
      <div class="tekstbox-voorleesboek-ingrid">
        <span id="text2">
          <%= @booktextsnew[1] %>
        </span>
      </div>
      <%= image_tag "Afbeelding-2.jpg", class: "img-voorleesboek-ingrid" %>
      <div class="tekstbox-voorleesboek-ingrid">
        <span id="text3">
          <%= @booktextsnew[2].html_safe %>
          <span id="button1" ></span>
        </span>
      </div>
    </div>
  </div>
</div>
