<div class="flex-ingrid">
  <div class="pseudo-page-ingrid">

  </div>
  <div id="p7" class="page-size-voorleesboek-ingrid">
    <div class="content-voorleesboek-ingrid">
      <div class="tekstbox-voorleesboek-ingrid" id="tekst7">
        <%= @booktextsnew[6] %>
      </div>
        <span id="tekst8">
          <%= image_tag @booktextsnew[7], class: "img-voorleesboek-ingrid" %>
        </span>
        <div class="tekstbox-voorleesboek-ingrid">
        <span id="tekst9">
          <%= @booktextsnew[8] %>
        </span>
        </div>
    </div>
  </div>
</div>
