<div class="page-size-kalender-ingrid">
  <div class="content-kalender-ingrid content-kalender-ingrid-p1">
    <div class="tekstbox-kalender-ingrid" id="text1">
      <span class="answerq1"><%= @booktextsnew[0] %> </span>
    </div>
  </div>
</div>
