<div class="flex-ingrid">
  <div id="p2" class="page-size-voorleesboek-ingrid">
    <div class="content-voorleesboek-ingrid">
      <div class="tekstbox-voorleesboek-ingrid">
        <%= @booktextsnew[9] %>
      </div>
    </div>
  </div>
  <div class="pseudo-page-ingrid">

  </div>
</div>
