<div id="p2" class="page-size-voorleesboek-ingrid">
  <div class="content-voorleesboek-ingrid">
    <div class="tekstbox-voorleesboek-ingrid">
      <%= @booktexts.text10.html_safe %>
    </div>
  </div>
</div>
