.bt-list {
  padding: 5px;
}

.bt-item {

  list-style: none;
  margin: 0px 0px 20px 0px;
}

.bt-details {
  padding: 20px;
  cursor: pointer;
}

.bt-data {
  padding: 0px 10px 0px 0px;
  vertical-align: top;
}

.bt-link {
  // border-radius: 4px;
}

.bt-new{
  color: rgba(0, 0, 0, 0.5);
}
