.item1 {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}

.carousel {
  padding: 10px 10px 50px 10px;
}

.tst1 {
  margin: 80px 0px 0px 0px;
  height: 100px !important;
  width: 100px !important;
  background-image: image-url("Afbeelding-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.tst2 {
  margin: 80px 0px 0px 0px;
  height: 100px !important;
  width: 100px !important;
  background-image: image-url("Afbeelding-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.tst3 {
  margin: 80px 0px 0px 0px;
  height: 100px !important;
  width: 100px !important;
  background-image: image-url("Afbeelding-3a.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.tst4 {
  margin: 80px 0px 0px 0px;
  height: 100px !important;
  width: 100px !important;
  background-image: image-url("img4-g.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
