.logo {
  width: 87px;
  height: 42px;
  background-image: image-url("bvj_logo_white_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  color: black;
  text-align: center;
  text-decoration: none;
}

// .logo > div.line-1 {
//   font-family: $bvj;
//   font-size: 17px;
//   font-weight: bold;
//   line-height: 23px;
//   letter-spacing: 3px;
// }

// .logo > div.line-2 {
//   font-family: $body-font;
//   font-size: 17px;
//   font-weight: normal;
//   line-height: 23px;
//   letter-spacing: 0.5px;
// }
