/* Main navbar */
.navbar-main {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgba( 0,0,0,0.8);
  color: white;
  transition: all 0.3s ease;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  width: 100vw;
  z-index:20;
}

.navbar2 {
  background: white;
  color: black;
  transition: all 0.3s ease;
  padding: 0px 0px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  width: 100vw;
  z-index:10;
}

/* Logo */
.navbar-brand img {
  margin-top: -16px;
}

/* User Avatar */
.navbar-main .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* navbar section */
.navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 18px;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  margin-right: 25px;
  color: #E9EAEB;
}

.navbar-item-mobile-right {
  font-size: 26px;
  color: #FFCC33;
  cursor: pointer;
}

.navbar-item-mobile-left {
  font-size: 26px;
  cursor: pointer;
}

.navbar-item-right {
  margin-left: 6px;
  padding-right: 6px;
  border-right: solid 2px #FFCC33;
  font-size: 14px;
  color: #FFCC33;
  cursor: pointer;
}

.navbar-item-right.far-right {
  border: none;
}

.navbar-item2 {
  width: 35px;
  height: 45px;
  border: solid 1px #E9EAEB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  color: rgba(0,0,0,0.5);
}

.navbar-item2-s {
  width: 35px;
  height: 30px;
  border: solid 1px #E9EAEB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
  color: rgba(0,0,0,0.5);
}

/* Navbar link */
.navbar-link {
  color: #616668;
  font-size: 14px;
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.navbar-dropdown-menu:before {
  content: ' ';
  width: 10px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.dropdown-menu-left:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  left: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}


.material-icons.md-36 {
  font-size: 36px;
  line-height: 2;
 }

// .material-icons {
//   font-size: 35px;
//   line-height: 2;
// }
