input.check {
  margin: 0px 10px 0px 0px;
  height: 25px;
  width: 25px;
}

.check-textbox {
  margin: 5px 0px 5px 0px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .form-action.register-button {
    margin: 0px 0px 0px 290px;
  }

  // .input-number {
  //   width: 60px;
  // }

  // .input-straat {
  //   width: 320px;
  // }

  // .input-plaats {
  //   width: 350px;
  // }

  // .input-postcode {
  //   width: 88px;
  // }

  // .user-input {
  //   width: 450px;
  //   margin: 20px;
  // }

  // .input-block {
  //   width: 440px;
  // }

  // .input-block-left {
  //   float: right;
  // }

  // .input-block-right {
  //   float: left;
  // }
}

@media screen and (max-width: 600px) {

  .form-action.register-button {
    margin: 0px 0px 0px 180px;
  }
  // .input-number {
  //   width: 60px;
  // }

  // .input-straat {
  //   width: 236px;
  // }

  // .input-plaats {
  //   width: 272px;
  // }

  // .input-postcode {
  //   width: 88px;
  // }

  // .user-input {
  //   width: 365px;
  //   margin: 20px;
  // }

  // .input-block {
  // }

  // .input-block-right {
  // }

  // .container-fluid {
  //   padding-top: 0px;
  // }

  h3 {
    margin: 5px 0px 5px 0px;
  }
}

.flex2 {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 0px;
}
