.knop {
  width: 145px !important;
  height: 40px !important;
  padding: 10px;
  font-size: medium;
  border-radius: 2px;
  text-align: center;
  text-decoration: none !important;
}

.flex1 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.flex3 {
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.stepscontrol-balk {
  display: flex;
  justify-content: flex-end;
}

.control-button {
  display: flex;
  flex-direction: column;
  // font-family: $bvj;
  //  font-weight: bold;
  text-align: center;
  // cursor: pointer;
  text-decoration: none !important;
  border-radius: 2px;
}

.control-button > span {
  color: black;
  font-size: 14px;
  text-align: center;
}

.button-label {
  font-size: 20px;
  text-align: center;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .stepscontrol-balk-s {
    padding: 0px 0px 30px 0px;
    //width: 500px;
    margin: 0px -30px 0px 0px;
  }
  .control-button-s {
    width: 90px;
    height: 75px;
    margin: 0px 0px 0px 12px;
    padding: 6px 0px 0px 0px;
    font-size: 45px;
    font-weight: bold;
    line-height: 38px;
  }

  .control-button-s > .txt {
    font-weight: normal;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .stepscontrol-balk-s {
    width: 300px;
    margin: 20px 0px 5px 25px;
  }

  .control-button-s {
    width: 84px;
    height: 50px;
    margin: 0px;
    padding: 0px 2px 0px 0px;
    font-size: 30px;
  }
}

.nu {
  background-color: white;
  color: #FFCC33;
  border: solid #FFCC33 1px;
  cursor: default;
}

.pijl {
  color: gray;
  background-color: #e8e8e8;
}

.terug {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

.terug:hover {
  background-color: lightgray;
  color: black;
  border: solid gray 1px;
}

.vooruit {
  background-color: #FFCC33;
  color: black;
  cursor: pointer;
}

.vooruit:hover {
  background-color: #FEBE00;
  color: black;
}

.disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.05);
  cursor: default;
}

button.fix {
  padding-bottom: 32px;
}

input.fix {
  padding-bottom: 25px;
}

