<div class="page-size-kalender-ingrid-indic">
  <div class="content-kalender-ingrid-indic content-kalender-ingrid-p2">
    <div class="tekstbox-kalender-ingrid-indic">
      Kalender van <span class="answerq1"><%= @booktexts.text1 %> </span>
    </div>
  </div>
</div>
