<div class="page-size-kalender-ingrid-indic">
  <div class="content-kalender-ingrid-indic content-kalender-ingrid-p1">
    <div class="tekstbox-kalender-ingrid-indic" id="text1">
      <span class="answerq1"><%= @booktexts.text1 %> </span>
    </div>
  </div>
</div>
