  <div id="p1" class="content-voorleesboek-ingrid-indic content-voorleesboek-ingrid-p1-indic">
    <div class="tekstbox-voorleesboek-ingrid-p1-indic" id="tekst1">
      <%= @booktexts.text1 %>
    </div>
  </div>
