<div id="p3" class="page-size-voorleesboek-ingrid-indic content-voorleesboek-ingrid-indic">
  <div class="tekstbox-voorleesboek-ingrid-indic">
    <span id="text2">
      <%= @booktexts.text2.html_safe %>
    </span>
  </div>
  <%= image_tag "Afbeelding-2.jpg", class: "img-voorleesboek-ingrid-indic" %>
  <div class="tekstbox-voorleesboek-ingrid-indic">
    <span id="text3">
      <%= @booktexts.text3.html_safe %>
      <span id="button1" ></span>
    </span>
  </div>
</div>
