<div id="p7" class="page-size-voorleesboek-ingrid-indic content-voorleesboek-ingrid-indic rightpage">
  <div class="tekstbox-voorleesboek-ingrid-indic" id="tekst7">
    <%= @booktextsnew[6] %>
  </div>
  <div id="tekst8">
    <%= image_tag @booktextsnew[7], class: "img-voorleesboek-ingrid-indic" %>
  </div>
  <div class="tekstbox-voorleesboek-ingrid-indic">
    <span id="tekst9">
      <%= @booktextsnew[8] %>
    </span>
  </div>
</div>
