<div id="p7" class="page-size-voorleesboek-ingrid-indic content-voorleesboek-ingrid-indic rightpage">
  <div class="tekstbox-voorleesboek-ingrid-indic" id="tekst7">
    <%= @booktexts.text7 %>
  </div>
  <div id="tekst8">
    <%= image_tag @booktexts.text8, class: "img-voorleesboek-ingrid-indic" %>
  </div>
  <div class="tekstbox-voorleesboek-ingrid-indic">
    <span id="tekst9">
      <%= @booktexts.text9 %>
    </span>
  </div>
</div>
