<div id="p1" class="page-size-voorleesboek-ingrid front">
  <div class="content-voorleesboek-ingrid content-voorleesboek-ingrid-p1">
    <div class="tekstbox-voorleesboek-ingrid-p1" id="tekst1">
      <%= @booktexts.text1 %>
    </div>
  </div>
</div>
