<div id="p2" class="page-size-voorleesboek-ingrid-indic content-voorleesboek-ingrid-indic-blank">
  <div class="tekstbox-voorleesboek-ingrid-indic">
    <%= @booktexts.text10.html_safe %>
  </div>
</div>
