<div id="p8" class="page-size-voorleesboek-ingrid-indic content-voorleesboek-ingrid-indic-blank leftpage">
  <div class="tekstbox-voorleesboek-ingrid-indic">
      --- pagina 8 --- <br>
      --- achterblad ---
  </div>
</div>
