<div id="p5" class="page-size-voorleesboek-ingrid-indic content-voorleesboek-ingrid-indic rightpage">
  <div class="tekstbox-voorleesboek-ingrid-indic" id="txt3">
    <div id="txt-indic-p5" class=""><%= @booktextsnew[3] %></div>
  </div>
  <span class="">
    <img id="img-indic-p5" src="<%= asset_path @booktextsnew[4] %>" class="img-voorleesboek-ingrid-indic">
  </span>
  <div class="tekstbox-voorleesboek-ingrid-indic">
    <span id="text6"><%= @booktextsnew[5] %></span>
  </div>
  <!-- <input type="hidden" id="numberofimages" value="<%#= @btimages.count  %>"> -->
</div>
