<div class="page-size-kalender-ingrid-indic">
  <div class="content-kalender-ingrid-indic content-kalender-ingrid-p1">
    <div class="tekstbox-kalender-ingrid-indic" id="text1">
      <span class="answerq1"><%= @booktextsnew[0] %> </span>
    </div>
  </div>
</div>
