<div id="p2" class="page-size-voorleesboek-ingrid-indic content-voorleesboek-ingrid-indic-blank leftpage">
  <div class="tekstbox-voorleesboek-ingrid-indic">
    <%= @booktextsnew[9] %>
  </div>
</div>
