<div id="p9" class="page-size-voorleesboek-ingrid selected front">
  <div class="content-voorleesboek-ingrid">
    <div class="tekstbox-voorleesboek-ingrid-p1">
      achterkant
    </div>
  </div>
</div>
<div class="dummy-page hidden-xs">

</div>
