<div class="page-size-kalender-ingrid">
  <div class="content-kalender-ingrid content-kalender-ingrid-p4">
    <div class="tekstbox-kalender-ingrid">
      Kalender van <span class="answerq1"><%= @booktexts[0].text1 %> </span>
    </div>
  </div>
</div>
