// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  margin-top: 70px;
  width: 100vw;
  background-color: #e8e8e8;
}

.save {
  background: black;
  color: white;
  border-radius: 50%;
  padding: 10px;
  margin: 20px;
}
